


.card {
    border: 1px solid black;
    margin: 1rem;
  }

.dark {
    background-color: darkblue;
}

.bg-yellow {
    background-color: yellow;
}

.five-day-card {
    background-color: green;
}

.today-card {
    background-color: purple;
}

.flex{
    display: flex;
}

.search {
    display: flex;
    justify-content: left;
}