* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    text-align: center;
    background-color: rgb(11, 11, 160);
    color: antiquewhite;
    padding: 2%;
  }

  .bodyContent {
    display: flex;
    flex-wrap: wrap;
  }

  .search {
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    width: 20%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: .5%;
    border-bottom: solid black 1px;
  }

  .forecasts {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 80%;
  }

  .today {
    font-size: x-large;
    /* background-color: green; */
  }

  .today-card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 3%;
    padding-left: 2%;
  }

  .five-day-card {
    display: flex;
    background-color: darkblue;
    color: white;
    flex-direction: column;
    align-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    border-radius: 10%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fiveDayHeader {
    margin-left: 2%;
  }
